/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
  }
  
  /*
   * Typography
   */
  
  h1 {
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
    padding-left: 0;
    padding-right: 0;
    .nav {
        margin-bottom: 20px;
    }
    .nav-item {
        width: 100%;
      }
  }
  
  .sidebar .nav-item + .nav-item {
    margin-left: 0;
  }
  
  .sidebar .nav-link {
    border-radius: 0;
  }
  
  /*
   * Dashboard
   */
  
   .fa{
    font-size:80px
   }
   /* Placeholders */
  .placeholders {
    padding-bottom: 3rem;
    img {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
      }
    button{
      padding: 0;
      border: none;
      background: none;
    }
    .fa-cloud-upload{
      color: #2AFF05;
    }
  } 
  .mostrar{
    display: block;
  }
  .ocultar{
    display: none;
  }
  .highlight { background-color: yellow }
  
  td, th{
    text-align: center;
  }
  .glyphicon-remove, .glyphicon-edit{
    font-size:140%
  }
  .glyphicon-remove{
    color: red;
    text-decoration: none !important;
  }
  .glyphicon-remove:hover{
    text-decoration: none !important;
    color:#B61700; 
  }
  .glyphicon-edit{
    position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
-ms-transform: rotate(110deg); /* IE 9 */
-webkit-transform: rotate(110deg); /* Safari 3-8 */
transform: rotate(110deg);
  }

#controladorAñadir{
  .button-primary{
    width: 160px;
    position: relative;
    left: 85%;
    bottom: 400px;
    height: 70px;
  }
}

form td button{
  padding: 0;
border: none;
background: none;
}


.formulario{
  margin-top: 40px;
  position: relative;
  text-align: center;
  width: 50% !important;
  left: 18%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.formulario__input, .formulario__label, .formulario__submit {
  text-align: center;
display: block;
width: 80%;
font-size: large;
margin-left: 50px;
}
.formulario__input {
padding: 11px;
background: rgba(0,0,0,0.1);
border: 1px solid rgba(0,0,0,0.3);
margin-bottom: 30px;
}
.formulario__input:focus {
outline: 1px solid rgba(0,0,0,0.7);
}
.formulario__label {
text-align: left;
}


.editarFormulario{
  h2{
    margin-left: 14%;
  }
  position: relative;
    left: 6%;
}

table{
  table-layout: fixed;
  width: 300px;
}

th, td {
  width: 100px;
  word-wrap: break-word;
  img{
    width: 80%;
  }
}






  @media (min-width: 992px){
  .navbar-toggleable-md {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }